<VirtualHost *:80>
    ServerName {{ apache_server_name.stdout }}
    DocumentRoot {{ app.home }}/public
    <Directory {{ app.home }}/public>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{HTTPS}  !=on
        RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
    </IfModule>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combineid
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ apache_server_name.stdout }}
    DocumentRoot {{ app.home }}/public
    <Directory {{ app.home }}/public>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    SSLEngine on
    # FIXME: Certificates need to be managed for the dev server to generate them if they aren't there on a fresh deploy
    SSLCertificateFile /home/{{ security.app_user }}/.acme.sh/{{ apache_server_name.stdout }}/{{ apache_server_name.stdout }}.cer
    SSLCertificateKeyFile /home/{{ security.app_user }}/.acme.sh/{{ apache_server_name.stdout }}/{{ apache_server_name.stdout }}.key
    SSLCertificateChainFile /home/{{ security.app_user }}/.acme.sh/{{ apache_server_name.stdout }}/fullchain.cer
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combineid
</VirtualHost>
