.env
.env.backup

composer.lock
node-info.lock

.phpunit.result.cache
phpdoc

vendor/

.phpdoc/
docs/
public/docs/
public/documents/*
!public/documents/index.php

tmp/*.pem
crontab/cron.log
crontab/cron.log.*