RewriteEngine On

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# USER API
RewriteRule ^user/me/?$ /user_api/me.php [NC]
RewriteRule ^user/login/?$ /user_api/login.php [NC]
RewriteRule ^user/logout/?$ /user_api/logout.php [NC]
RewriteRule ^user/register/?$ /user_api/register.php [NC]
RewriteRule ^user/confirm-registration/?$ /user_api/confirm-registration.php [NC]
RewriteRule ^user/resend-code/?$ /user_api/resend-code.php [NC]
RewriteRule ^user/update-email/?$ /user_api/update-email.php [NC]
RewriteRule ^user/confirm-update-email/?$ /user_api/confirm-update-email.php [NC]
RewriteRule ^user/forgot-password/?$ /user_api/forgot-password.php [NC]
RewriteRule ^user/reset-password/?$ /user_api/reset-password.php [NC]
RewriteRule ^user/update-password/?$ /user_api/update-password.php [NC]
RewriteRule ^user/login-mfa/?$ /user_api/login-mfa.php [NC]
RewriteRule ^user/send-mfa/?$ /user_api/send-mfa.php [NC]
RewriteRule ^user/confirm-mfa/?$ /user_api/confirm-mfa.php [NC]
RewriteRule ^user/update-mfa/?$ /user_api/update-mfa.php [NC]
RewriteRule ^user/update-totp/?$ /user_api/update-totp.php [NC]
RewriteRule ^user/confirm-totp/?$ /user_api/confirm-totp.php [NC]
RewriteRule ^user/name-by-email/?$ /user_api/name-by-email.php [NC]
RewriteRule ^user/get-iplog/?$ /user_api/get-iplog.php [NC]
RewriteRule ^user/update-avatar/?$ /user_api/update-avatar.php [NC]
RewriteRule ^user/get-warnings/?$ /user_api/get-warnings.php [NC]
RewriteRule ^user/dismiss-notification/?$ /user_api/dismiss-notification.php [NC]
RewriteRule ^user/get-notifications/?$ /user_api/get-notifications.php [NC]
RewriteRule ^user/get-dashboard/?$ /user_api/get-dashboard.php [NC]
RewriteRule ^user/get-membership/?$ /user_api/get-membership.php [NC]
RewriteRule ^user/get-nodes/?$ /user_api/get-nodes.php [NC]
RewriteRule ^user/get-node-data/?$ /user_api/get-node-data.php [NC]
RewriteRule ^user/get-my-eras/?$ /user_api/get-my-eras.php [NC]
RewriteRule ^user/get-all-discussions/?$ /user_api/get-all-discussions.php [NC]
RewriteRule ^user/get-my-discussions/?$ /user_api/get-my-discussions.php [NC]
RewriteRule ^user/get-pinned-discussions/?$ /user_api/get-pinned-discussions.php [NC]
RewriteRule ^user/get-draft-discussions/?$ /user_api/get-draft-discussions.php [NC]
RewriteRule ^user/get-draft-discussion/?$ /user_api/get-draft-discussion.php [NC]
RewriteRule ^user/save-draft-discussion/?$ /user_api/save-draft-discussion.php [NC]
RewriteRule ^user/discard-draft/?$ /user_api/discard-draft.php [NC]
RewriteRule ^user/pin-discussion/?$ /user_api/pin-discussion.php [NC]
RewriteRule ^user/like-discussion/?$ /user_api/like-discussion.php [NC]
RewriteRule ^user/post-discussion/?$ /user_api/post-discussion.php [NC]
RewriteRule ^user/get-discussion/?$ /user_api/get-discussion.php [NC]
RewriteRule ^user/lock-discussion/?$ /user_api/lock-discussion.php [NC]
RewriteRule ^user/delete-discussion/?$ /user_api/delete-discussion.php [NC]
RewriteRule ^user/edit-discussion/?$ /user_api/edit-discussion.php [NC]
RewriteRule ^user/post-comment/?$ /user_api/post-comment.php [NC]
RewriteRule ^user/delete-comment/?$ /user_api/delete-comment.php [NC]
RewriteRule ^user/edit-comment/?$ /user_api/edit-comment.php [NC]
RewriteRule ^user/get-active-ballots/?$ /user_api/get-active-ballots.php [NC]
RewriteRule ^user/get-finished-ballots/?$ /user_api/get-finished-ballots.php [NC]
RewriteRule ^user/get-my-votes/?$ /user_api/get-my-votes.php [NC]
RewriteRule ^user/get-ballot/?$ /user_api/get-ballot.php [NC]
RewriteRule ^user/vote/?$ /user_api/vote.php [NC]
RewriteRule ^user/get-perks/?$ /user_api/get-perks.php [NC]
RewriteRule ^user/get-perk/?$ /user_api/get-perk.php [NC]
RewriteRule ^user/get-vote-eligibility/?$ /user_api/get-vote-eligibility.php [NC]
RewriteRule ^user/get-profile/?$ /user_api/get-profile.php [NC]
RewriteRule ^user/get-account-validators/?$ /user_api/get-account-validators.php [NC]
RewriteRule ^user/get-general-assemblies/?$ /user_api/get-general-assemblies.php [NC]
RewriteRule ^user/create-general-assembly/?$ /user_api/create-general-assembly.php [NC]
RewriteRule ^user/edit-general-assembly/?$ /user_api/edit-general-assembly.php [NC]
RewriteRule ^user/cancel-general-assembly/?$ /user_api/cancel-general-assembly.php [NC]
RewriteRule ^user/get-general-assembly-proposed-times/?$ /user_api/get-general-assembly-proposed-times.php [NC]
RewriteRule ^user/find-affiliated-nodes/?$ /user_api/find-affiliated-nodes.php [NC]
RewriteRule ^user/add-affiliated-node/?$ /user_api/add-affiliated-node.php [NC]
RewriteRule ^user/verify-node/?$ /user_api/verify-node.php [NC]
RewriteRule ^user/download-message/?$ /user_api/download-message.php [NC]
RewriteRule ^user/upload-signature/?$ /user_api/upload-signature.php [NC]
RewriteRule ^user/upload-letter/?$ /user_api/upload-letter.php [NC]
RewriteRule ^user/upload-entity-doc/?$ /user_api/upload-entity-doc.php [NC]
RewriteRule ^user/get-entity-docs/?$ /user_api/get-entity-docs.php [NC]
RewriteRule ^user/get-entity-pii/?$ /user_api/get-entity-pii.php [NC]
RewriteRule ^user/remove-node/?$ /user_api/remove-node.php [NC]
RewriteRule ^user/get-esign-doc/?$ /user_api/get-esign-doc.php [NC]
RewriteRule ^user/post-hellosign/?$ /user_api/post-hellosign.php [NC]
RewriteRule ^user/get-available-upgrade/?$ /user_api/get-available-upgrade.php [NC]
RewriteRule ^user/get-upgrades/?$ /user_api/get-upgrades.php [NC]
RewriteRule ^user/get-upgraded-users/?$ /user_api/get-upgraded-users.php [NC]
RewriteRule ^user/complete-upgrade/?$ /user_api/complete-upgrade.php [NC]
RewriteRule ^user/save-pii/?$ /user_api/save-pii.php [NC]
RewriteRule ^user/get-shufti-token/?$ /user_api/get-shufti-token.php [NC]
RewriteRule ^user/validate-shufti-signature/?$ /user_api/validate-shufti-signature.php [NC]
RewriteRule ^user/save-shufti-ref/?$ /user_api/save-shufti-ref.php [NC]
RewriteRule ^user/get-suspension-status/?$ /user_api/get-suspension-status.php [NC]
RewriteRule ^user/request-reactivation/?$ /user_api/request-reactivation.php [NC]

# ADMIN API
RewriteRule ^admin/login/?$ /admin_api/login.php [NC]
RewriteRule ^admin/login-mfa/?$ /admin_api/login-mfa.php [NC]
RewriteRule ^admin/me/?$ /admin_api/me.php [NC]
RewriteRule ^admin/confirm-mfa/?$ /admin_api/confirm-mfa.php [NC]
RewriteRule ^admin/confirm-totp/?$ /admin_api/confirm-totp.php [NC]
RewriteRule ^admin/confirm-update-email/?$ /admin_api/confirm-update-email.php [NC]
RewriteRule ^admin/forgot-password/?$ /admin_api/forgot-password.php [NC]
RewriteRule ^admin/reset-password/?$ /admin_api/reset-password.php [NC]
RewriteRule ^admin/logout/?$ /admin_api/logout.php [NC]
RewriteRule ^admin/send-mfa/?$ /admin_api/send-mfa.php [NC]
RewriteRule ^admin/update-email/?$ /admin_api/update-email.php [NC]
RewriteRule ^admin/update-mfa/?$ /admin_api/update-mfa.php [NC]
RewriteRule ^admin/update-totp/?$ /admin_api/update-totp.php [NC]
RewriteRule ^admin/new-totp/?$ /admin_api/new-totp.php [NC]
RewriteRule ^admin/update-password/?$ /admin_api/update-password.php [NC]
RewriteRule ^admin/get-user/?$ /admin_api/get-user.php [NC]
RewriteRule ^admin/get-users/?$ /admin_api/get-users.php [NC]
RewriteRule ^admin/get-subscriptions/?$ /admin_api/get-subscriptions.php [NC]
RewriteRule ^admin/get-merchant-settings/?$ /admin_api/get-merchant-settings.php [NC]
RewriteRule ^admin/get-iplog/?$ /admin_api/get-iplog.php [NC]
RewriteRule ^admin/update-setting/?$ /admin_api/update-setting.php [NC]
RewriteRule ^admin/update-avatar/?$ /admin_api/update-avatar.php [NC]
RewriteRule ^admin/get-dashboard/?$ /admin_api/get-dashboard.php [NC]
RewriteRule ^admin/get-nodes/?$ /admin_api/get-nodes.php [NC]
RewriteRule ^admin/get-node-data/?$ /admin_api/get-node-data.php [NC]
RewriteRule ^admin/get-profile/?$ /admin_api/get-profile.php [NC]
RewriteRule ^admin/get-all-discussions/?$ /admin_api/get-all-discussions.php [NC]
RewriteRule ^admin/get-my-discussions/?$ /admin_api/get-my-discussions.php [NC]
RewriteRule ^admin/get-pinned-discussions/?$ /admin_api/get-pinned-discussions.php [NC]
RewriteRule ^admin/get-draft-discussions/?$ /admin_api/get-draft-discussions.php [NC]
RewriteRule ^admin/get-draft-discussion/?$ /admin_api/get-draft-discussion.php [NC]
RewriteRule ^admin/save-draft-discussion/?$ /admin_api/save-draft-discussion.php [NC]
RewriteRule ^admin/discard-draft/?$ /admin_api/discard-draft.php [NC]
RewriteRule ^admin/pin-discussion/?$ /admin_api/pin-discussion.php [NC]
RewriteRule ^admin/like-discussion/?$ /admin_api/like-discussion.php [NC]
RewriteRule ^admin/post-discussion/?$ /admin_api/post-discussion.php [NC]
RewriteRule ^admin/get-discussion/?$ /admin_api/get-discussion.php [NC]
RewriteRule ^admin/lock-discussion/?$ /admin_api/lock-discussion.php [NC]
RewriteRule ^admin/delete-discussion/?$ /admin_api/delete-discussion.php [NC]
RewriteRule ^admin/edit-discussion/?$ /admin_api/edit-discussion.php [NC]
RewriteRule ^admin/post-comment/?$ /admin_api/post-comment.php [NC]
RewriteRule ^admin/delete-comment/?$ /admin_api/delete-comment.php [NC]
RewriteRule ^admin/censor-comment/?$ /admin_api/censor-comment.php [NC]
RewriteRule ^admin/uncensor-comment/?$ /admin_api/uncensor-comment.php [NC]
RewriteRule ^admin/edit-comment/?$ /admin_api/edit-comment.php [NC]
RewriteRule ^admin/get-active-ballots/?$ /admin_api/get-active-ballots.php [NC]
RewriteRule ^admin/get-finished-ballots/?$ /admin_api/get-finished-ballots.php [NC]
RewriteRule ^admin/get-all-votes/?$ /admin_api/get-all-votes.php [NC]
RewriteRule ^admin/get-ballot/?$ /admin_api/get-ballot.php [NC]
RewriteRule ^admin/cancel-ballot/?$ /admin_api/cancel-ballot.php [NC]
RewriteRule ^admin/create-ballot/?$ /admin_api/create-ballot.php [NC]
RewriteRule ^admin/upload-ballot-file/?$ /admin_api/upload-ballot-file.php [NC]
RewriteRule ^admin/get-general-assemblies/?$ /admin_api/get-general-assemblies.php [NC]
RewriteRule ^admin/get-intake/?$ /admin_api/get-intake.php [NC]
RewriteRule ^admin/download-letter/?$ /admin_api/download-letter.php [NC]
RewriteRule ^admin/approve-user/?$ /admin_api/approve-user.php [NC]
RewriteRule ^admin/deny-user/?$ /admin_api/deny-user.php [NC]
RewriteRule ^admin/remove-user/?$ /admin_api/remove-user.php [NC]
RewriteRule ^admin/get-teams/?$ /admin_api/get-teams.php [NC]
RewriteRule ^admin/put-permission/?$ /admin_api/put-permission.php [NC]
RewriteRule ^admin/get-permissions/?$ /admin_api/get-permissions.php [NC]
RewriteRule ^admin/invite-sub-admin/?$ /admin_api/invite-sub-admin.php [NC]
RewriteRule ^admin/cancel-team-invite/?$ /admin_api/cancel-team-invite.php [NC]
RewriteRule ^admin/accept-team-invite/?$ /admin_api/accept-team-invite.php [NC]
RewriteRule ^admin/team-invite-check-hash/?$ /admin_api/team-invite-check-hash.php [NC]
RewriteRule ^admin/get-global-settings/?$ /admin_api/get-global-settings.php [NC]
RewriteRule ^admin/get-contact-recipients/?$ /admin_api/get-contact-recipients.php [NC]
RewriteRule ^admin/add-contact-recipient/?$ /admin_api/add-contact-recipient.php [NC]
RewriteRule ^admin/delete-contact-recipient/?$ /admin_api/delete-contact-recipient.php [NC]
RewriteRule ^admin/upload-terms/?$ /admin_api/upload-terms.php [NC]
RewriteRule ^admin/get-emailer-admins/?$ /admin_api/get-emailer-admins.php [NC]
RewriteRule ^admin/add-emailer-admin/?$ /admin_api/add-emailer-admin.php [NC]
RewriteRule ^admin/delete-emailer-admin/?$ /admin_api/delete-emailer-admin.php [NC]
RewriteRule ^admin/get-emailer-triggers/?$ /admin_api/get-emailer-triggers.php [NC]
RewriteRule ^admin/get-notifications/?$ /admin_api/get-notifications.php [NC]
RewriteRule ^admin/save-notification/?$ /admin_api/save-notification.php [NC]
RewriteRule ^admin/delete-notification/?$ /admin_api/delete-notification.php [NC]
RewriteRule ^admin/get-notification-users/?$ /admin_api/get-notification-users.php [NC]
RewriteRule ^admin/get-user-eras/?$ /admin_api/get-user-eras.php [NC]
RewriteRule ^admin/get-perks/?$ /admin_api/get-perks.php [NC]
RewriteRule ^admin/get-perk/?$ /admin_api/get-perk.php [NC]
RewriteRule ^admin/save-perk/?$ /admin_api/save-perk.php [NC]
RewriteRule ^admin/delete-perk/?$ /admin_api/delete-perk.php [NC]
RewriteRule ^admin/upload-perk-image/?$ /admin_api/upload-perk-image.php [NC]
RewriteRule ^admin/get-available-upgrade/?$ /admin_api/get-available-upgrade.php [NC]
RewriteRule ^admin/get-upgrades/?$ /admin_api/get-upgrades.php [NC]
RewriteRule ^admin/save-upgrade/?$ /admin_api/save-upgrade.php [NC]
RewriteRule ^admin/get-upgraded-users/?$ /admin_api/get-upgraded-users.php [NC]
RewriteRule ^admin/save-pii/?$ /admin_api/save-pii.php [NC]
RewriteRule ^admin/get-revoked-users/?$ /admin_api/get-revoked-users.php [NC]
RewriteRule ^admin/get-historic-revoked-users/?$ /admin_api/get-historic-revoked-users.php [NC]
RewriteRule ^admin/cmp-check/?$ /admin_api/cmp-check.php [NC]
RewriteRule ^admin/manually-update-user-kyc/?$ /admin_api/manually-update-user-kyc.php [NC]
RewriteRule ^admin/reinstate-user/?$ /admin_api/reinstate-user.php [NC]
RewriteRule ^admin/reset-user-suspension/?$ /admin_api/reset-user-suspension.php [NC]

# PUBLIC API
RewriteRule ^public/contact-us/?$ /public_api/contact-us.php [NC]
RewriteRule ^public/get-merchant-data/?$ /public_api/get-merchant-data.php [NC]
RewriteRule ^public/reset/?$ /public_api/reset.php [NC]
RewriteRule ^public/ca-kyc-hash/([a-zA-Z0-9]+)?$ /public_api/ca-kyc-hash.php?hash=$1 [NC]
RewriteRule ^public/get-year/?$ /public_api/get-year.php [NC]
RewriteRule ^public/get-countries/?$ /public_api/get-countries.php [NC]
RewriteRule ^public/get-dev-mode/?$ /public_api/get-dev-mode.php [NC]
RewriteRule ^public/get-validators/?$ /public_api/get-validators.php [NC]
RewriteRule ^public/get-profile/?$ /public_api/get-profile.php [NC]
RewriteRule ^public/get-node-data/?$ /public_api/get-node-data.php [NC]
RewriteRule ^public/shufti-status/?$ /public_api/shufti-status.php [NC]
RewriteRule ^public/hellosign-hook/?$ /public_api/hellosign-hook.php [NC]
RewriteRule ^public/get-esign-doc/?$ /public_api/get-esign-doc.php [NC]
